.register-card{
    position: absolute;
    top: 8%;
    left: 15%;
    width: 70%;
    height: auto;
    background-color: rgb(103, 157, 228);
    box-shadow: 5px 5px gray;
    border-radius: 10px;
    color: white;
}
